@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');



body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
}


.App {
  text-align: left;
  
}

.App-logo {
  /* float: left; */
}

.App-header {

}

.App-intro {
  font-size: large;
}

/* Table style customizations */

table td {
  font-size: 12px !important;
}

table.table-hover tbody tr:hover {
  background-color: #b9ff9c !important;
}

.dataTables_wrapper .dataTables_filter {

  margin-top: -4.4rem;
  margin-bottom:4rem ;

}
table.dataTable thead:last-child {
  display: none !important;
}
table.dataTable thead {
  background-color: #d4d4d4;
}